@using BOL;

@{
    ViewData["Title"] = "Product details";
}

<div>
    <h2>Product Details</h2>
    @{
        Product1 theProduct=ViewData["product"] as Product1;
        <p> Id: @theProduct.ProductId</p>
        <p> Title:  <b> <u></u>@theProduct.Title</b></p>
        <p> Description: @theProduct.Description</p>
        <p> Unit Price: @theProduct.UnitPrice</p>
        <p> Stock Available: @theProduct.UnitInStock</p>

    }
</div>